@import '../../scss/variables.scss';
@import '../../scss/layout.scss';

.toggle-border {
    @include containerBorder;
    @include hoverEffect;
    width: 40%;
    margin-top: $margin;

    .toggle-button {
        @include postButton;
        color: $secondaryTextColor;
        font-weight: 600;
        background-color: $container-background;
    }
}

@media screen and (min-width: $breakpointDesktop) {
    .toggle-border {
        width: 20%;
        margin: $margin;
    }
}