@import '../../scss/layout';

.square-wrapper {
    @include flex($wrap: wrap);
    max-width: 100%;
    margin: auto;
}

@media screen and (min-width: 768px) {
    .square-wrapper {
        @include flex($wrap: wrap);
        max-width: 80%;
        margin: auto;
    }
}