@import '../../scss//layout.scss';

.information-wrapper--border {

    width: 90%;
    margin: auto;
    @include containerBorder;
    border-radius: .4rem;

    .information-wrapper {
        @include flex($direction: row-reverse);
        width: 100%;
        background-color: $secondaryBackground;
        border-radius: .2rem;

        .information-section {
            @include flex($direction: column);
            margin: auto;

            h2 {
                margin: $margin;
            }

            p {
                margin: $margin;
                padding: $padding;
            }
        }
    }
}