@import '../../scss//layout.scss';

.information-wrapper--border {
    @include containerBorder;
    box-shadow: $bigShadow;
    width: 90%;
    margin: auto;
    border-radius: .4rem;

    .information-wrapper {
        @include flex($direction: row-reverse);
        width: 100%;
        background-color: $secondaryBackground;
        border-radius: $borderRadius;

        .information-section {
            @include flex($direction: column);
            margin: auto;

            h2 {
                margin: $margin;
            }

            p {
                max-width: 90%;
                padding: $padding;
            }
        }
    }
}

@media screen and (min-width: $breakpointDesktop) {
    .information-wrapper--border {
        width: 70%;

        .information-wrapper {
            .information-section {
                p {
                    max-width: 80%;
                }
            }
        }
    }
}