@import '../../scss/layout.scss';
@import '../../scss/variables.scss';

.character-border {
    width: 90%;
    margin: auto;

    .character-wrapper {
        @include flex($direction: column, $justify: space-evenly);
        margin-top: calc($margin * 4);

        .square-border--wrapper {
            margin: $margin;

            .square-border {
                :hover {
                    cursor: default;
                }
            }
        }

        .character-container {
            @include flex($direction: column, $justify: center);
            height: 100%;
            margin: $margin;
        }

        .character-intro {
            text-align: center;
            max-width: 50%;
            min-width: 200px;
        }
    }
}

@media screen and (min-width: $breakpointDesktop) {
    .character-border {
        @include containerBorder;
        box-shadow: $shadow;
        width: 70%;

        .character-wrapper {
            background-color: $secondaryBackground;
            min-height: calc($baseline * 20);
            margin: 0;

            .character-container {
                @include flex($justify: center);
                height: 80%;
                margin: 0;
            }
        }
    }
}