@import '../../scss/layout.scss';
@import '../../scss/variables.scss';

.character-border {
    width: 90%;
    margin: auto;

    .character-wrapper {
        @include flex();
        height: calc($baseline * 15);

        .square-border--wrapper {
            margin: 1rem;

            .square-border {
                :hover {
                    cursor: default;
                }
            }
        }

        .character-container {
            @include flex($direction: column, $justify: center);
            height: 100%;
        }

        .character-intro {
            max-width: 50%;
            min-width: 200px;
        }
    }
}

@media screen and (min-width: $breakpointDesktop) {
    .character-border {
        @include containerBorder;
        box-shadow: $bigShadow;
        width: 70%;

        .character-wrapper {
            @include flex();
            background-color: $secondaryBackground;

            .square-border--wrapper {
                margin: 4rem;
            }

            .character-container {
                @include flex($direction: column, $justify: center);
                height: 100%;
            }
        }
    }
}