@import '../../scss//layout.scss';

.posts-wrapper {
    @include flex($direction: column);
    border: 2px solid blue;
    width: 90%;
    margin: auto;
    background-color: $secondaryBackground;

    .new-post-button {
        @include postButton;
        margin: $margin-large;
    }

    .posts-list {
        width: 80%;
    }
}