@import '../../scss//layout.scss';

.posts-wrapper--border {
    @include containerBorder;
    box-shadow: $bigShadow;
    width: 90%;
    margin: auto;

    .posts-wrapper {
        @include flex($direction: column);
        width: 100%;
        background-color: $secondaryBackground;

        h2 {
            margin-top: $baseline;
        }

        .new-post-button--border {
            @include containerBorder;
            width: 40%;
            margin: $margin-large;

            .new-post-button {
                @include postButton;
                font-weight: 600;
                color: $secondaryTextColor;
                background-color: $container-background;
            }
        }

        .posts-list {
            width: 100%;
        }
    }
}

.posts-wrapper--loggedout {
    @include flex();
    min-height: 8rem;

    .sign-in-button--border {
        @include containerBorder;

        .sign-in-button {
            height: 2rem;
            width: 6rem;
            border: none;
            color: $secondaryTextColor;
            font-weight: 600;
            cursor: pointer;
        }
    }
}

@media screen and (min-width: $breakpointDesktop) {
    .posts-wrapper--border {
        @include containerBorder;
        width: 70%;
        margin: auto;

        .posts-wrapper {
            @include flex($direction: column);
            width: 100%;
            background-color: $secondaryBackground;

            h2 {
                margin-top: $baseline;
            }

            .new-post-button--border {
                @include containerBorder;
                width: 20%;
                margin: $margin-large;

                .new-post-button {
                    @include postButton;
                    font-weight: 600;
                    color: $secondaryTextColor;
                    background-color: $container-background;
                }
            }

            .posts-list {
                width: 80%;
            }
        }
    }

    .posts-wrapper--loggedout {
        @include flex();
        min-height: 8rem;

        .sign-in-button--border {
            @include containerBorder;

            .sign-in-button {
                height: 2rem;
                width: 6rem;
                border: none;
                color: $secondaryTextColor;
                font-weight: 600;
                cursor: pointer;
            }
        }
    }
}