@import '../../scss//layout.scss';

.posts-wrapper--border {

    width: 90%;
    margin: auto;
    @include containerBorder;

    .posts-wrapper {
        @include flex($direction: column);
        width: 100%;
        background-color: $secondaryBackground;

        h2 {
            margin-top: $baseline;
        }
    
        .new-post-button--border {

            width: 40%;
            @include containerBorder;
            margin: $margin-large;

            .new-post-button {
                @include postButton;
                font-weight: 600;
                color: $secondaryTextColor;
                background-color: $container-background;
            }

        }
    
        .posts-list {
            width: 80%;
        }
    }
}