@import '../../scss/layout.scss';
@import '../../scss/variables.scss';

header {
    height: calc($baseline * 5);
    margin-bottom: $margin;

    .header_container {
        @include flex($justify: space-between);

        .gearwheel_icon {
            width: 1.5rem;
            margin-left: $margin-small;
            cursor: pointer;
        }

        section {

            h1,
            h2 {
                text-align: center;
            }
        }
    }

    .header_overlay-false {
        opacity: 0;
        position: absolute;
        z-index: -1;
    }

    .header_overlay-true {
        @include maxSize;
        position: absolute;
        background-color: $primaryBackground;
        opacity: 1;
        top: 0;
        z-index: 1;

        ul {
            @include flex($direction: column, $align: start);
            margin-top: $margin-large;

            li {
                @include flex();
                margin-left: $margin-large;
                padding: 1.5rem 0;
                cursor: pointer;

                h2,
                h3 {
                    margin-left: $margin;
                }
            }
        }
    }

}