@import '../../scss/layout.scss';
@import '../../scss/variables.scss';

header {
    margin-bottom: $margin;

    .header_container {
        position: relative;
        @include flex($justify: space-between);
        min-height: calc($baseline * 5);

        .gearwheel-icon {
            width: calc($baseline * 1.5);
            margin-left: $margin;
            cursor: pointer;
        }

        .param-section {
            @include flex($direction: column);

            h1,
            h2 {
                text-align: center;
                padding-bottom: .2rem;
            }

            h3 {
                display: inline;
                font-weight: 500;
                padding-bottom: .2rem;
            }

            .param-wrapper {
                @include flex;

                div {
                    @include flex;
                    position: relative;

                    .home-param {
                        @include paramStyling;
                    }

                    .game-param {
                        @include paramStyling;
                    }
                }
            }

            .game-name {
                margin-bottom: $margin-small;
            }
        }
    }

    .header_overlay-false {
        opacity: 0;
        position: absolute;
        z-index: -1;
    }

    .header_overlay-true {
        @include maxSize;
        position: fixed;
        background-color: $secondaryBackground;
        opacity: 1;
        top: 0;
        z-index: 1;

        .gearwheel-icon {
            transition: .4s transform ease-in-out;
            transform: rotate(180deg);
            width: calc($baseline * 1.5);
            margin-left: $margin;
            cursor: pointer;
        }

        ul {
            @include flex($direction: column, $align: start);

            .gearwheel-list {
                padding: calc($padding * 1.5) 0 $padding 0;
                margin: 0;
            }

            li {
                @include flex();
                padding: $padding 0;
                margin-left: $margin;
                cursor: pointer;
                position: relative;

                h2 {
                    margin-left: $margin;
                }

                h3 {
                    @include hoverLine($background-color: $primaryBackground);
                }

                .gear-title {
                    font-size: calc($baseline * 2);
                }
            }
        }
    }
}

@media screen and (max-width: $breakpointDesktop) {
    header {
        .header_container {
            .param-section.true {
                display: none;
            }

            .param-section.false {
                .game-name {
                    font-size: calc($baseline * 2);
                }

                .param-wrapper {
                    @include flex($wrap: wrap);
                    position: absolute;
                    top: calc($baseline * 4.5);

                    h3 {
                        font-size: calc($baseline * 1.2);
                    }
                }
            }
        }
    }
}