@import '../../scss//layout.scss';
@import '../../scss/variables.scss';

.toggle-wrapper--border {
    @include containerBorder;
    box-shadow: $bigShadow;
    width: 90%;
    margin: $margin auto;
    border-radius: 0.4rem;

    .toggle-wrapper {
        @include flex($direction: column);
        width: 100%;
        border-radius: $borderRadius;
        background-color: $secondaryBackground;

        figure {
            @include flex();
            @include postButton;
            width: calc(40% + 1rem);
            margin: $baseline;
            background: transparent;
            height: calc($baseline * 2);
            margin: $margin-small;

            img {
                padding-right: $baseline;
            }

            p {
                margin-top: .2rem;
                color: $primaryTextColor;
            }
        }
    }
}

@media screen and (min-width: $breakpointDesktop) {
    .toggle-wrapper--border {
        width: 70%;

        .toggle-wrapper {
            @include flex($direction: row, $wrap: wrap)
        }
    }
}