@import '../../scss//layout.scss';
@import '../../scss/variables.scss';

.toggle-wrapper {
    @include flex($wrap: wrap);
    width: 90%;
    border: 2px solid blue;
    border-radius: .4rem;
    margin: $margin auto;
    background-color: $secondaryBackground;

    button {
        @include postButton;
    }

    figure {
        @include flex();
        background: transparent;
        height: 2rem;
        p {
            margin-top: .2rem;
        }
    }
}