@import '../../scss/layout.scss';
@import '../../scss/variables.scss';


.search-wrapper {
    @include flex($direction: row);
    width: $baseline;
    height: $baseline;
    margin: 0 $margin;

    .search-toggle {
        position: absolute;
        right: 0;
        @include flex($direction: row-reverse);
        margin-right: .5rem;

        .search-icon {
            width: 1.5rem;
            cursor: pointer;
        }


        .input-border {
            @include containerBorder;
            margin: 0 1rem 0 1rem;
            padding: .2rem;

            input {
                width: 12em;
                padding: .15rem;
                outline: none;
                border: none;
            }

        }

    }

}

.search-wrapper-none {
    opacity: 0;
    z-index: -99;
}