@import '../../scss/layout.scss';
@import '../../scss/variables.scss';

.square-border {
    width: 192px;
    height: 192px;
    margin: calc($baseline * 3);
    @include squareBorder;

    .square-container {
        @include flex($direction: column);
        width: 180px;
        height: 180px;
        @include squareContainer;
    
        &:hover {
            cursor: pointer;
        }
    
        img {
            transform: rotate(-45deg);
            max-width: 100%;
            max-height: 100%;
            border-radius: 50%;
            color: #900;
            text-decoration: none;
        }
    
        img:hover {
            color: red;
            position: relative;
        }
    
        img[title]:hover:after {
            content: attr(data);
            padding: 4px 8px;
            color: rgba(0, 0, 0, 0.5);
            position: absolute;
            left: 0;
            top: 100%;
            white-space: nowrap;
            z-index: 2;
            border-radius: 5px;
            background: rgba(0, 0, 0, 0.5);
        }

    }

}