@import '../../scss/variables.scss';
@import '../../scss/layout.scss';

.post-container {
    @include flex($justify: flex-start);
    background-color: $primaryTextColor;
    width: 80%;
    height: 2rem;
    margin: $margin auto;
    border: 2px solid aqua;
    cursor: pointer;

    h3 {
        color: black;
    }

    .accordion {
        margin-left: auto;
        cursor: pointer;
    }
}