@import "./variables";

@mixin flex($display: flex, $justify: center, $align: center, $direction: row, $wrap: nowrap) {
    display: $display;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    flex-wrap: $wrap;
}

@mixin maxSize {
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

@mixin squareBorder {

    transform: rotate(45deg);
    background: linear-gradient(to right, #020202, #2138B1, #859BEB);

}

@mixin squareContainer {
    overflow: hidden;
    background-color: $secondaryBackground;
    transform: translateX(6px) translateY(6px);
    box-shadow: inset 0 0 .5rem black;

}

@mixin containerBorder {

    background: $container-gradient;
    padding: .2rem;
    border-radius: .2rem;
    
}

